.cart-list {
	&__container {
	    max-height: 80vh;
	    overflow: scroll;
	    padding-bottom:10px;
	}

	&__item {
		// font-size:28px;
		display:flex;
		border-bottom: 1px solid white;
		justify-content: space-between;

		&-image {
			width:70px;
			height:70px;

			& img {
				width:100%;
				height:100%;
				object-fit:cover;
			}
		}

		&-info {
			display: flex;
    		flex-direction: column;
    		justify-content: space-between;
    		width:180px;
    		padding: 4px;
		}

		&-numbers {
			display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		}

		&-quantity-container {
			display: flex;
    		justify-content: space-between;
    		align-items:center;
    		padding-top:4px;
    		color:#ccc;
		}

		&-quantity-value {
			font-size:12px;
		}

		&-price {
			height: 40px;
		    width: 40px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    border-top: 1px solid white;
		    border-left: 1px solid white;
		}

		&-delete {
			font-size: 12px;
    		font-weight: 100;
    		color:#ccc;
		}
	}
}

.cart-total {
	&__container {
		display: flex;
	    align-items: center;
	    justify-content: flex-end;
	}

	&__amount {
		font-size:34px;
	}
	&__subscript {
		align-self:flex-end;
		padding:0 5px;
		font-size:12px;
	}
}